body
{
    text-align: left;
}
#ttr_sidebar
{
    border-left: 1px solid black;

}
#ttr_footer
{
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}

#ttr_content img{
    width: 70%;
}
div.custom-menu-class ul {
    margin:20px 0px 20px 0px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:right;
}
div.custom-menu-class li {
    padding: 0px 20px 0px 0px;
    display: inline;
}
div.custom-menu-class a {
    color: #ffffff;
}